*::-webkit-scrollbar {
	width: 1px;
  }

.home-container{
	display: flex;
}

.chat-main{
	display: flex;
}

.chat-field{
	display: flex;
	flex-direction: column;
}

.chat-control{
	width: 23vw;
}

/*OwnAccount*/
.user-button div div div{
	margin-right: 15px!important;
}

.ArrowDropDown{
	margin-left: 15px!important;
}


/*FriendsList*/
.friend-list{
	height: calc(100vh - 50px);
	overflow-y: scroll;
	overflow-x: hidden;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.friend-member div div{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

li.li-friendlist{
	list-style: none;
	float: unset!important;
}

li.li-friendlist a:first-child{
	text-align: unset!important;
	margin: 0!important;
	padding: 0!important;
}

/*VideoCallToolbar*/
.VideoCallToolbar{
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
	width: calc(100vw - 23vw);
	margin-left: 2px; 	
	padding: 0px!important;
}

.VideoCallToolbar > div{
	width: 100%!important;
	justify-content: flex-end!important;	
}

.VideoCallToolbar > div > div{
	margin: 10px 15px!important;	
}

.VideoCallToolbar > div > span:first-child{
	margin: auto!important;	
}

/*ChatContent*/
.chat-content{
	box-shadow: rgba(0, 0, 0, 0.12) 2px 2px 4px;
	padding: 10px 20px;
}

.chat-input{
	box-shadow: rgba(0, 0, 0, 0.12) 2px 2px 4px;	
}

/*Preferences*/
