*::-webkit-scrollbar {
	width: 1px;
  }

.home-container{
	display: flex;
}

.chat-main{
	display: flex;
}

.chat-field{
	display: flex;
	flex-direction: column;
}

.chat-control{
	width: 23vw;
}

.WellcomeBack{
	background-color: rgb(0, 132, 255);
	width: 100%;
	padding: 20px;
}

.WellcomeBack-txt{
	color: #fff;
	font-size: 72px;
	font-family: Helvetica!important;
	text-indent: 50px;
}

.wcb-intro{
	background-color: #0084ff;
	display: flex;
	justify-content: space-around;
	max-height: 500px;
	margin: 50px 0px;
}
.wcb-intro-img{
	background-image: url('../assets/VIDEOCALLS.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	min-width: 300px;
	min-height: 420px;
}
.wcb-intro-txt{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	max-width: 340.25px;
	min-width: 300px;
}

.wcb-intro-txt h1{
	margin: 0px 0px 10px 0px;
	font-weight: normal;
	font-family: Helvetica;
	font-size: 38px;
	color: #fff;
}
.wcb-intro-txt p{
	margin: 0px 0px 10px 0px;
	font-weight: normal;
	font-family: Helvetica;
	font-size: 17px;
	color: #d4e4ff;
	line-height: 24px;
}
.wcb-intro a{
	margin-top: 8px;
	background-color: #2998ff;
	height: 32px;
	font-size: 12px;
	font-family: Helvetica;
	padding: 0px 24px;
	color: #fff; 
	text-decoration: none;
	font-weight: 600;
	align-self: flex-start;
	line-height: 32px;
	border-radius: 3px;
}

/*OwnAccount*/
.user-button div div div{
	margin-right: 15px!important;
}

.ArrowDropDown{
	margin-left: 15px!important;
}


/*FriendsList*/
.friend-list{
	height: calc(100vh - 50px);
	overflow-y: scroll;
	overflow-x: hidden;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.friend-member div div{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

li.li-friendlist{
	list-style: none;
	float: unset!important;
}

li.li-friendlist a:first-child{
	text-align: unset!important;
	margin: 0!important;
	padding: 0!important;
}

/*VideoCallToolbar*/
.VideoCallToolbar{
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
	width: calc(100vw - 23vw);
	margin-left: 2px; 	
	padding: 0px!important;
}

.VideoCallToolbar > div{
	width: 100%!important;
	justify-content: flex-end!important;	
}

.VideoCallToolbar > div > div{
	margin: 10px 15px!important;	
}

.VideoCallToolbar > div > span:first-child{
	margin: auto!important;	
}

/*ChatContent*/
.chat-content{
	box-shadow: rgba(0, 0, 0, 0.12) 2px 2px 4px;
	padding: 10px 20px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.chat-input{
	box-shadow: rgba(0, 0, 0, 0.12) 2px 2px 4px;	
}

.MessageContent{
	min-height: 40px;
}

.friendMessage{
	border-radius: 20px;
	padding: 10px 15px;
	font-family: Helvetica;
	color: #000;
	background-color: #f1f0f0;
    max-width: 60%;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.OwnMessage{
	border-radius: 20px;
	padding: 10px 15px;
	font-family: Helvetica;
	color: #fff;
	background-color: rgb(0, 132, 255);
    max-width: 60%;
    word-wrap: break-word;
    margin-bottom: 10px;
}

/*stream*/
#localStream{
	margin: 0px 20px;
}

.EndCall{
	display: flex;
	justify-content: center;
}

/*Preferences*/
.callDialog > div > div > div div:last-child{
	display: flex!important;
	justify-content: center;
}
