<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cut Air</title>
	<link rel="stylesheet" href="styles.css">
	<link rel="shortcut icon" href="./img/favicon.ico">
</head>
<body>
	<div id="root">Loading...</div>
	<script src="bundle.js"></script>
	<script type="text/javascript">
		function LoginExist(){
			if(localStorage['access_token']){
				location.href = "/home";
			}else{
				location.href = "/";
			}
		};
		LoginExist();
	</script>
</body>
</html>