* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body{
    min-width: 900px;
	margin: 0!important;
	padding: 0!important;
}

body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
}


.feature-1{    
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    padding: 70px 50px 0px 50px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.feature-1-txt{
    width: 345px;
    align-self: center;
}
.feature-1-txt h1{
    color: rgba(0,0,0,0.7);
    font-family: Helvetica;    
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.feature-1-txt h2{
    color: rgba(0,0,0,0.7);
    font-family: Helvetica;
    font-size: 38px;
    line-height: 44px;
    font-weight: 100;
    margin: 10px 0px;    
}

.feature-1-txt h3{
    text-align: justify;
    color: rgba(0,0,0,0.55);
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 10px;
    font-family: Helvetica;
}

.feature-1-img{
    margin-left: 200px;
    background-image: url('../assets/TEXTS.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 354px;
    height: 482px;
}

.feature-2{
    border-bottom: 1px solid lightgrey;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.feature-2-txt{
    text-align: center!important;
}
.feature-2-txt h1{
    color: rgba(0,0,0,0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    font-family: Helvetica;
    margin-bottom: 18px;
    text-transform: uppercase;
}
.feature-2-txt h2{
    color: rgba(0,0,0,0.7);
    font-family: Helvetica;
    font-size: 38px;
    line-height: 44px;
    font-weight: 100;
    margin: 0 0 10px;
}
.feature-2-txt h3{
    color: rgba(0,0,0,0.55);
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    font-family: Helvetica;
    margin: 0 0 10px;
}
.feature-2-img{
    display: flex;
}
.feature-2-imgl{
    margin: 50px 80px 0px 80px;    
    background-image: url('../assets/VOICES.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 393px;
    height: 504px;
}
.feature-2-imgr{
    margin: 50px 80px 0px 80px;    
    background-image: url('../assets/VIDEOCALLS.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 393px;
    height: 504px;
}

.feature-3{    
    border-bottom: 1px solid lightgrey;    
    padding: 70px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.feature-3-txt{
    width: 345px;
    align-self: center;
}
.feature-3-txt h1{
    color: rgba(0,0,0,0.7);
    font-family: Helvetica;    
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.feature-3-txt h2{
    color: rgba(0,0,0,0.7);
    font-family: Helvetica;
    font-size: 38px;
    line-height: 44px;
    font-weight: 100;
    margin: 10px 0px;    
}

.feature-3-txt h3{
    text-align: justify;
    color: rgba(0,0,0,0.55);
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 10px;
    font-family: Helvetica;
}

.feature-3-img{
    margin-left: 200px;
    background-image: url('../assets/PHOTOS.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 393px;
    height: 504.77px;
}

.feature-4{       
    padding: 70px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.feature-4-txt{
    margin-left: 100px;
    width: 345px;
    align-self: center;
}
.feature-4-txt h1{
    color: rgba(0,0,0,0.7);
    font-family: Helvetica;    
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.feature-4-txt h2{
    color: rgba(0,0,0,0.7);
    font-family: Helvetica;
    font-size: 38px;
    line-height: 44px;
    font-weight: 100;
    margin: 10px 0px;    
}

.feature-4-txt h3{
    text-align: justify;
    color: rgba(0,0,0,0.55);
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 10px;
    font-family: Helvetica;
}

.feature-4-img{
    background-image: url('../assets/LOCATION.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 512px;
    height: 561px;
}

.feature-5{
    background-color: rgba(245, 245, 245, 0.83);
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.feature-5-txt{
    text-align: center!important;
}
.feature-5-txt h1{
    color: rgba(0,0,0,0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    font-family: Helvetica;
    margin-bottom: 18px;
    text-transform: uppercase;
}
.feature-5-txt h2{
    color: rgba(0,0,0,0.7);
    font-family: Helvetica;
    font-size: 38px;
    line-height: 44px;
    font-weight: 100;
    margin: 0 0 10px;
}
.feature-5-txt h3{
    color: rgba(0,0,0,0.55);
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    font-family: Helvetica;
    margin: 0 0 10px;
}
.feature-5-img{
    margin: 50px 80px 0px 80px;    
    background-image: url('../assets/STICKERS.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 284px;
    height: 560px;    
}

.feature-6{    
    border-bottom: 1px solid lightgrey;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.feature-6-txt{
    width: 345px;
    align-self: center;
}
.feature-6-txt h1{
    color: rgba(0,0,0,0.7);
    font-family: Helvetica;    
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.feature-6-txt h2{
    color: rgba(0,0,0,0.7);
    font-family: Helvetica;
    font-size: 38px;
    line-height: 44px;
    font-weight: 100;
    margin: 10px 0px;    
}

.feature-6-txt h3{
    text-align: justify;
    color: rgba(0,0,0,0.55);
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 10px;
    font-family: Helvetica;
}

.feature-6-img{
    margin-left: 150px;
    background-image: url('../assets/VOICES_MESS.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 490px;
    height: 560px;
}

.feature-7{  
    background-color: rgba(245, 245, 245, 0.83);  
    border-bottom: 1px solid lightgrey;    
    display: flex;
    justify-content: center;
    align-self: center;
}

.feature-7-txt{
    margin-left: 100px;
    width: 345px;
    align-self: center;
}
.feature-7-txt h1{
    color: rgba(0,0,0,0.7);
    font-family: Helvetica;    
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.feature-7-txt h2{
    color: rgba(0,0,0,0.7);
    font-family: Helvetica;
    font-size: 38px;
    line-height: 44px;
    font-weight: 100;
    margin: 10px 0px;    
}

.feature-7-txt h3{
    text-align: justify;
    color: rgba(0,0,0,0.55);
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 10px;
    font-family: Helvetica;
}

.feature-7-img{
    background-image: url('../assets/PAYMENT.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 582px;
    height: 640px;
}

.feature-8{    
    border-bottom: 1px solid lightgrey;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.feature-8-txt{
    width: 345px;
    align-self: center;
}
.feature-8-txt h1{
    color: rgba(0,0,0,0.7);
    font-family: Helvetica;    
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.feature-8-txt h2{
    color: rgba(0,0,0,0.7);
    font-family: Helvetica;
    font-size: 38px;
    line-height: 44px;
    font-weight: 100;
    margin: 10px 0px;    
}

.feature-8-txt h3{
    text-align: justify;
    color: rgba(0,0,0,0.55);
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 10px;
    font-family: Helvetica;
}

.feature-8-img{
    margin-left: 150px;
    background-image: url('../assets/GROUP.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 350px;
    height: 560px;
}

.footer{
	background-color: #323940;
	overflow: hidden;
	color: rgba(255, 255, 255, .4);
	line-height: 19px;
	font-family: Helvetica;
	font-size: 13px;
	letter-spacing: .2px;
	text-align: center;
}